/* Add this to your CSS stylesheet */
body {
  background-color: rgb(63, 61, 61);
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTguShE9XkKwMf1hobBC8AwlK8hd35L_XMIHg&usqp=CAU');
}

.container {
  background-color: rgb(37, 35, 35);
  overflow-y: auto;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTguShE9XkKwMf1hobBC8AwlK8hd35L_XMIHg&usqp=CAU');
  width: auto;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #addaf8;
  color: #090909;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.btnnew {
  display: inline-block;
  padding: auto auto auto auto;
  background-color: #2e7498;
  color: #090909;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.addcontainer {
  position: relative;
  background-color: rgb(43, 40, 40);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcontainer form {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 154, 154);
  padding: 5% 4%;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
}


.addcontainer form {
  font-size: 20px;
}

.addcontainer form label {
  font-size: 20px;
}

.addcontainer form input {
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.close-btn {
  margin-left: 90%;
  background-color: red;
  width: 20px;
  font-size: 18px;
}

img {
  height: 5%;
  width: 5%;
}

/* Base styling for the table */


.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer table thead tr {
  background-color: red;
}

.tableContainer table tbody tr {
  background-color: aquamarine;
  border: solid;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  padding: 1%;
  overflow-x: auto;
  scroll-behavior: hidden;

}

.date-picker-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Responsive styling using media queries */


.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1%;
}

nav ul li {
  display: inline;
  margin: 1rem;
  font-size: large;
  list-style-type: none;
  cursor: pointer;
}

table {
  height: auto;
}

nav {
  text-align: left;
}

@media screen and (max-width: 500px) {

  .tableContainer table thead tr th,
  .tableContainer table tbody tr td {
    /* Reset the minimum width for smaller screens */
    display: block;
    width: auto;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    width: auto;
  }

  .btn {
    width: 100%;
    margin-bottom: 5px;
  }

  .date-picker-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #selectedDateTime {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    max-width: 200px;
  }

  .flex-show {
    display: grid;
    grid-auto-flow: column;
  }

  li img {
    height: 60px;
    width: 60px;
  }

  ul {
    display: inline-grid;
    padding: 0;
  }

  .header {
    height: auto;
    width: auto;
  }

  nav ul li {
    font-size: large;
    margin: 0;
    margin-bottom: 40%;
  }

}